body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



.container {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* For Chrome, Safari, and Opera */
.container .slider .left input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 34px;
  height: 34px;
  background: #4e4d4d;
  /* accent-color: coral; */
  border: 8px solid white;
  cursor: pointer;
}

/* For Chrome, Safari, and Opera */
.container .slider .right input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 34px;
  height: 34px;
  background: #4e4d4d;
  border: 8px solid white;
  cursor: pointer;
}

/* For Firefox */
.container .slider .left input[type="range"]::-moz-range-thumb {
  width: 34px;
  height: 34px;
  background:#4e4d4d;
  border: 8px solid white;
  cursor: pointer;
}


/* For Firefox */
.container .slider .right input[type="range"]::-moz-range-thumb {
  width: 34px;
  height: 34px;
  background: #4e4d4d;
  border: 8px solid white;
  cursor: pointer;
}

.slider {
  position: relative;
  width: -webkit-fill-available;
}

.slider__left-value {
  border: none;
}

.slider__right-value:before {
  bottom: 0;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 100%);
  width: 0;
  z-index: 1;
  box-sizing: border-box;
}

.slider__right-value:after {
  bottom: 0;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 100%);
  width: 0;
}

.slider__left-value,
.slider__range,
.slider__right-value,
.slider__track {
  position: absolute;
}

.slider__range,
.slider__track {
  /* background-color: #ced4da; */
  width: 100%;
  z-index: 1;
  border-radius: 3px;
  height: 8px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.23) inset;
}

.slider__track {
  /* background-color: #ced4da; */
  width: 100%;
  z-index: 1;
}

.slider__range {
  z-index: 2;
  border-radius: 40px;
  background: var(--Gradient,
      linear-gradient(90deg, #4e4d4d 4.86%, #343435 99.91%));
}

.slider__left-value,
.slider__right-value {
  color: #4e4d4d;
  font-size: 12px;
  translate: calc(-50%);
}

.slider__right-value {
  border: none;
}

/* Removing the default appearance */
.thumbmulti,
.thumbmulti::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.thumbmulti {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: -webkit-fill-available;
  outline: none;
}

/* For Chrome browsers */
.thumbmulti::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumbmulti::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.slider {
  position: relative;
}

.slider__left-value,
.slider__range,
.slider__right-value,
.slider__track {
  position: absolute;
}

.slider__range,
.slider__track {
  border-radius: 40px;
  height: 24px;
}

.slider__track {
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #4e4d4d;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color:#4e4d4d;
  background-color: white;
  font-size: 16px;
  margin-top: -46px;
  padding: 5px;
}

/* .slider__left-value{margin-left: 17px;}
.slider__right-value{margin-left: -17px;} */
/* The toggle switch container */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide the default checkbox */
.toggle-switch input {
  display: none;
}

/* Removing the default appearance */
.thumbmulti,
.thumbmulti::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.thumb--left {
  z-index: 3;
  margin-top: 8px;
}

.thumb--right {
  z-index: 5;
  margin-top: 8px;
}

/* For Chrome browsers */
.thumbmulti::-webkit-slider-thumb {
  background-color: #4e4d4d;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 6px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumbmulti::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}


header .mode .switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

header .mode .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
header .mode .slider.round {
  border-radius: 40px;
}
header .mode .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0E1D26;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid rgba(28, 47, 58, 0.68);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 9px 4px 8px rgba(0, 0, 0, 0.5);
  box-shadow: inset 9px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
header .mode .slider.round:before {
  border-radius: 50%;
}
header .mode .slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 5px;
  bottom: 5px;
  background: #00090F url("https://static.pcbuilder.net/assets/images/icons/moon.svg");
  border: 1px solid #1C2F3A;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: .4s;
  transition: .4s;
}

.productOffers-listItemOfferShippingDetailsRightItem {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  display: inline-block;
  font-size: .5625rem;
  height: 17px;
  line-height: 13px;
  margin: 0 -1px -1px 0;
  min-width: 52px;
  padding: 1px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 52px;
}
.productOffers-listItemOfferShippingDetailsRightItem a {
  color: inherit;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.productOffers-listItemOffer .payment-column .productOffers-listItemOfferShippingDetailsRight {
  margin-left: 20px;
  max-width: 104px;
}
.productOffers-listItemOffer .payment-column .productOffers-listItemOfferShippingDetailsRight {
  margin-left: 20px;
  max-width: 104px;
}
.offerImage{
  width: 20px;
}
.productOffers-listItemOfferShippingDetailsRightItem a{
  width: 60px;
}
.productOffers-listItemOfferShippingDetailsRightItem a > span {
  display: inline-block;
  width: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* This will show an ellipsis (...) when content overflows */
}

.flags-round {
  padding-left: 26px;
  position: relative;
}
*, :after, :before {
  box-sizing: inherit;
}
.flags-round--de:before {
  background: url("https://cdn.idealo.com/storage/offerpage/assets/offerpage/images/flag-round-de-40d8a70243a35e41a14da47687c3dcbb.svg") no-repeat;
}
.flags-round--it:before {
  background: url("https://cdn.idealo.com/storage/offerpage/assets/offerpage/images/flag-round-it-2524f69ae24dd6e37fb9766cd61b5846.svg") no-repeat;
}
.flags-round--gb:before {
  background: url("https://cdn.idealo.com/storage/offerpage/assets/offerpage/images/flag-round-gb-3b81948a5b39ae2f22dbfc8f4f3bf2c6.svg") no-repeat;
}
.flags-round--es:before {
  background: url("https://cdn.idealo.com/storage/offerpage/assets/offerpage/images/flag-round-es-33d51353eed45ad36b66167fcaf4e7dd.svg") no-repeat;
}
.flags-round--fr:before {
  background: url("https://cdn.idealo.com/storage/offerpage/assets/offerpage/images/flag-round-fr-68f664cbedf9d94caa6067493dbb885b.svg") no-repeat;
}
.flags-round--at:before {
  background: url("https://cdn.idealo.com/storage/offerpage/assets/offerpage/images/flag-round-at-3e84646e8da7282ebadf3c4f0e0aa564.svg") no-repeat;
}





.flags-round:before {
  content: "";
  display: block;
  height: 16px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
}